/* Add Custom CSS Here */

:root {
  --siguv-black: #000000;
  --siguv-blue: #004994;
  --siguv-cyan: #0095DB;
  --siguv-green: #51AE31;
  --siguv-grey: #555555;
  --siguv-light-green: #AFCA06;
  --siguv-light-grey: #9C9C9C;
  --siguv-orange: #F39200;
  --siguv-red: #D40F14;
  --siguv-turquoise: #008C8E;
  --siguv-violett: #B80D78;
  --siguv-white: #FFFFFF;
  --siguv-yellow: #FFCC00;
}
